.header {
  background-color: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-left: 200px;
}

.title {
  margin: 0;
}

.logo-microsoft {
  height: 50px;
  margin-right: 20px;
}

.button-group {
  display: flex;
}

.round-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  color: #3498db;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-left: 50px;
  width: 100%;
  line-height: 1;
}

#read_button {
  border-radius: 60%;
  background-color: rgba(255, 0, 0, 0.5);
  width: 15%;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

.record_container{
  display: block;
  border: 2px solid #ffffff;
  margin-left: 200px;
  margin-right: 50px;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  /* pour donner la même largeur à ces deux éléments */
  height: 500px;
  /* pour placer les éléments à l'interieur */
  text-align: left;
  flex-direction: column;
}

.history_container {
  display: block;
  border: 2px solid #cdcdcd;
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  /* pour donner la même largeur à ces deux éléments */
  height: 500px;
  /* pour placer les éléments à l'interieur */
  text-align: center;
  flex-direction: column;
  line-height: 1;
}

.record_container h2,
.history_container h2 {
  margin-top: 20;
  text-align: center;
  flex-direction: column;
  line-height: 1;
}

.history_container img {
  display: block;
  margin-left: 0%;
  width: 30%;
  height: 20%;
  line-height: 1;
}

.record_container img {
  margin-left: 20%;
  width: 50%;
  height: 50%;
}

.left-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
}

.left-sidebar .button {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  background-color: rgb(112, 112, 112);
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border: none;
}

.left-sidebar .button:hover {
  background-color: #555;
}

button[name="forwardBtn"],
button[name="clear_historic"] {
  background-color: #3498db;
  /* Vert */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button[name="startBtn"] {
  position: absolute;
  height: 100%;
}