.header {
  background-color: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-left: 200px;
}

.title {
  margin: 0;
}

.logo-microsoft {
  height: 50px;
  margin-right: 20px;
}

.button-group {
  display: flex;
}

.round-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  color: #3498db;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.record_container{
  border: 2px solid #3498db;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  margin-left: 250px;
}

.history_container {
  border: 2px solid #3498db;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  text-align: left;
  margin-left: 70px;
}

.record_container h2,
.history_container h2 {
  margin-top: 20;
  text-align: center;
}

.img-historic {
  margin-right: 400px;
}
.img-record {
  margin-right: 300px;
  text-align: center;
}

.left-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
}

.left-sidebar .button {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  background-color: rgb(112, 112, 112);
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border: none;
}

.left-sidebar .button:hover {
  background-color: #555;
}

button[name="forwardBtn"],
button[name="clear_historic"] {
  background-color: #3498db;
  /* Vert */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}



.record_container img {
  display: inline-block;
  vertical-align: middle;
}



button[name="startBtn"] {
  position: absolute;
  bottom: 200px;
  left: 200px;
  /* Autres propriétés CSS */
}